

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem
}

.link {
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
}

.cubos {
  color: #FF0179;
}

.kakashi {
  color: #FF9123;
}